body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  background-color: #13131f;
}

.top {
  position: absolute;
  top: -10%;
  transform: translate(0%, 0%);
  display: flex;
  width: 100%;
  height: 100%;
  color: white;
}

.title_header {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -13%);
}

.center-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 30%;
  border: 2px solid #2b2b42;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #1d1d2e;
  padding: 20px;
  box-sizing: border-box;
}

#source-code {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #2b2b42;
  background-color: #252539;
  resize: none;
  box-sizing: border-box;
  color: white;
  font-family: monospace;
}

.bottom {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #2b2b42;
  background-color: #1d1d2e;
  padding: 20px;
  box-sizing: border-box;

  flex-direction: column;
}

#output {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  resize: none;
  border: 2px solid #2b2b42;
  background-color: #252539;
  color: white;
  box-sizing: border-box;

  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: auto;
}

.buttons {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.output-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 16%;
}

#input-code {
  width: 90%;
  height: 100%;
  padding: 10px;
  font-size: 14px;
  border: 2px solid #2b2b42;
  background-color: #252539;
  color: white;
  box-sizing: border-box;
  font-family: monospace;

  display: flex;
  align-items: center;

  justify-content: flex-start;

  resize: none;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#steps {
  width: 10%;
  height: 100%;
  padding: 10px;
  font-size: 14px;
  border: 2px solid #2b2b42;
  background-color: #252539;
  color: white;
  box-sizing: border-box;
  font-family: monospace;

  display: flex;
  align-items: center;

  justify-content: flex-start;

  resize: none;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.view_mode_container {
  position: absolute;
  top: 66%;
  left: 90%;
  transform: translate(-90%, -66%);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 68%;
  border: 2px solid #2b2b42;
  background-color: #1d1d2e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;

  flex-direction: column;
}

#view-mode {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #2b2b42;
  background-color: #252539;
  color: white;
  resize: none;
  box-sizing: border-box;

  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: auto;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* standard */
}

.btn {
  background-color: #1d1d2e;
  color: white;
  padding: 7px 30px;
  border: 2px solid #2b2b42;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.btn:hover {
  background-color: #2b2b42;
}

.btn:active {
  background-color: #3f3f5e;
}

mark {
  background-color: rgb(255, 255, 0);
  color: #000000;
  padding: 0 2px;
  border-radius: 3px;
}